* {
  box-sizing: border-box;
}
.board {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 50px;
    flex-wrap: wrap;
  }
  
  .list {
    flex: 0 0 calc(25% - 15px);
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
  }
  
  .list h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .card {
    margin-bottom: 10px;
  }
  
  mat-card {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
  }
  
  mat-card-content {
    padding: 0;
  }
  
  h3 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  p {
    margin: 0;
  }
  
  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .board .list .card ::ng-deep .mat-mdc-card-actions {
    padding: 0;
  }
  .card-action{
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    justify-content: space-between;
  }
  .flex-end {
    justify-content: flex-end;
  }
  .search {
    width: 297px;
    height: 48px;
    background: #E4E7EE;
    border-radius: 8px;
    border-color: #FFFFFF;
}
.search-button {
  position: absolute;
  right: 12px;
  top: 50%;
  bottom: 5.33%;
  transform: translateY(-50%);
}
.add-task-panel {
  left: auto !important;
  text-align: right;
}
.add-task {
    width: 122px;
    height: 40px;
    background: #E4E7EE;
}
.head{
  padding: 60px;
}
.head ::ng-deep .mat-grid-list {
  padding-bottom: 0 !important;
}
.head ::ng-deep .mat-grid-list > div {
  display: flex;
}
.head ::ng-deep .mat-grid-list .mat-grid-tile {
  position: relative;
  overflow: hidden;
  padding-top: 0 !important;
}
.head ::ng-deep .mat-grid-list .mat-grid-tile .mat-grid-tile-content {
  position: relative;
  display: inline-flex;
}
@media screen and (max-width: 1199px) {
  .board .list {
    flex: 0 0 calc(50% - 15px);
  }
}

@media screen and (max-width: 767px) {
  .head {
    padding: 40px 20px;
  }
  .board .list {
    flex: 0 0 calc(100% - 15px);
  }
  .search {
    width: 100%;
  }
  .board {
    padding: 0 20px;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-div {
  text-align: center;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
